.heading {
    font-size: 23px;
    width: 100%;
    margin: 0px;
}
.note {
    font-size: 15px;
    color: black;
}
body {
    background-size: cover;
}
.div_disk_class
{
    float: left;
}
.div_disk_1
{
    width: 250px;
    border-radius: 100px;
}
.div_disk
{
    float: right;
}
.div_disk_2
{
    width: 250px;
    border-radius: 100px;
}